@import "tailwindcss";

@theme {
  --color-yorumi-main: var(--color-main);
  --color-yorumi-accent: var(--color-accent);
  --color-yorumi-bg: var(--color-bg);
  --color-yorumi-card: var(--color-card);
  --color-yorumi-text: var(--color-text);
  --color-yorumi-muted: var(--color-muted);
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

@layer base {
  :root {
    --color-main: #00A3FF;
    --color-accent: #3DB4F2;
    --color-bg: #FDFBF7; /* Clean, warm off-white */
    --color-card: #F2EFE9;
    --color-text: #111111;
    --color-muted: #555555;
  }
  .dark {
    --color-main: #00A3FF;
    --color-accent: #3DB4F2;
    --color-bg: #0a0a0a;
    --color-card: #1a1a1a;
    --color-text: #ffffff;
    --color-muted: #888888;
  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
